DB_URL=jdbc:mysql://localhost:3306/hope_fitness_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=CHANGE_ME
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_PASSWORD
